In [93]:
import pandas as pd

In [94]:
raw_data  = pd.read_csv('Data/owid-covid-data.csv')
raw_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [95]:
raw_data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [96]:
raw_data=raw_data.drop(['new_cases_smoothed','new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'female_smokers',
       'male_smokers', 
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],axis=1)
raw_data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'reproduction_rate', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [97]:
raw_data.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,stringency_index,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,8.33,...,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,8.33,...,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,8.33,...,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,8.33,...,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,8.33,...,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511

In [98]:
raw_data.isnull().sum()

iso_code                          0
continent                      9345
location                          0
date                              0
total_cases                    2687
new_cases                      2733
total_deaths                  20047
new_deaths                    19877
reproduction_rate             38256
stringency_index              33169
population                     1028
population_density            17068
median_age                    26325
aged_65_older                 27725
aged_70_older                 27017
gdp_per_capita                25881
extreme_poverty               69886
cardiovasc_death_rate         27331
diabetes_prevalence           20770
handwashing_facilities        91184
hospital_beds_per_thousand    39692
life_expectancy               10359
human_development_index       27856
dtype: int64

In [99]:
raw_data['continent'].fillna(raw_data['location'],inplace=True)
raw_data['total_cases'].fillna(0,inplace=True)
raw_data['new_cases'].fillna(0,inplace=True)
raw_data['total_deaths'].fillna(0,inplace=True)
raw_data['new_deaths'].fillna(0,inplace=True)
raw_data['reproduction_rate'].fillna(round(raw_data['reproduction_rate'].mean(),2),inplace=True)
raw_data['stringency_index'].fillna(round(raw_data['stringency_index'].mean(),2),inplace=True)
raw_data['population'].fillna(round(raw_data['population'].mean(),2),inplace=True)
raw_data['population_density'].fillna(round(raw_data['population_density'].mean(),2),inplace=True)
raw_data['median_age'].fillna(round(raw_data['median_age'].median(),2),inplace=True)
raw_data['aged_65_older'].fillna(round(raw_data['aged_65_older'].mean(),2),inplace=True)
raw_data['aged_70_older'].fillna(round(raw_data['aged_70_older'].mean(),2),inplace=True)
raw_data['gdp_per_capita'].fillna(round(raw_data['gdp_per_capita'].mean(),2),inplace=True)
raw_data['extreme_poverty'].fillna(round(raw_data['extreme_poverty'].mean(),2),inplace=True)
raw_data['cardiovasc_death_rate'].fillna(round(raw_data['cardiovasc_death_rate'].mean(),2),inplace=True)
raw_data['diabetes_prevalence'].fillna(round(raw_data['diabetes_prevalence'].mean(),2),inplace=True)
raw_data['handwashing_facilities'].fillna(round(raw_data['handwashing_facilities'].mean(),2),inplace=True)
raw_data['hospital_beds_per_thousand'].fillna(round(raw_data['hospital_beds_per_thousand'].mean(),2),inplace=True)
raw_data['life_expectancy'].fillna(round(raw_data['life_expectancy'].mean(),2),inplace=True)
raw_data['human_development_index'].fillna(round(raw_data['human_development_index'].mean(),2),inplace=True)

In [100]:
raw_data.isnull().sum()

iso_code                      0
continent                     0
location                      0
date                          0
total_cases                   0
new_cases                     0
total_deaths                  0
new_deaths                    0
reproduction_rate             0
stringency_index              0
population                    0
population_density            0
median_age                    0
aged_65_older                 0
aged_70_older                 0
gdp_per_capita                0
extreme_poverty               0
cardiovasc_death_rate         0
diabetes_prevalence           0
handwashing_facilities        0
hospital_beds_per_thousand    0
life_expectancy               0
human_development_index       0
dtype: int64

In [101]:
raw_data['date'] = pd.to_datetime(raw_data['date'])
raw_data['Month-Year'] = raw_data['date'].dt.strftime('%b-%Y')

In [102]:
raw_data.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,stringency_index,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,Month-Year
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,0.0,0.0,1.01,8.33,...,1.337,1803.987,13.55,597.029,9.59,37.746,0.5,64.83,0.511,Feb-2020
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,1.01,8.33,...,1.337,1803.987,13.55,597.029,9.59,37.746,0.5,64.83,0.511,Feb-2020
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,1.01,8.33,...,1.337,1803.987,13.55,597.029,9.59,37.746,0.5,64.83,0.511,Feb-2020
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,1.01,8.33,...,1.337,1803.987,13.55,597.029,9.59,37.746,0.5,64.83,0.511,Feb-2020
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,1.01,8.33,...,1.337,1803.987,13.55,597.029,9.59,37.746,0.5,64.83,0.511,Feb-2020

In [103]:
raw_data.to_csv('Data/CoronaVirus PowerBI Raw')